@mixin button-design{
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 13px;
  text-align: center;
  margin-bottom: 30px;
}
@mixin window-design{
  width: 520px;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
}
$top-color: #d44637;
$back-color:#e74c3c;
$btn-color: #b3382c;
$font-color: #fff;
*{
  color: $font-color;
}
.decide-btn{
  @include button-design();
}
.modal-window{
  @include window-design();
  background-color: $back-color;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.paragraph{
  width: 350px;
}
.paragraph-modal{
  width: 350px;
  margin-left: 30px;
}
.close{
  cursor: pointer;
}